update/log/*.*
*.xlsx
*.bak
*.txt
backup/
api/tmp/
api/*.txt
api/ds/*.txt
api/ds/*.csv
api/*.bk
api/ds/*.bk
api/ds/*.xlsx
api/*.xlsx
api/*.bak
api/ds/*.bak
api/ds/scr/
api/*.bk*
api/ds/*.bk*
api/tools/datenImport.php
api/tools/taksitler.cmd
api/tools/extre.php
api/tools/toRaw_txt.cmd
api/tools/copy.cmd
api/tools/info.txt
api/tools/taksitler.csv
start.php
start.php.bk
update.cmd
push.cmd
/api/tools/Kartenabrechnung.pdf
/api/tools/Kartenabrechnung_01052023_317.pdf
/api/tools/Kartenabrechnung_01062023_453.pdf
/smartclient
